<link rel="stylesheet" href="/public/assets/css/landingPage.css" />

<main class="w-100 h-100 position-absolute top-0">
  <img src="/public/assets/images/olwsLogo.png" class="backGround" alt="logo">

  <div class="w-100 h-100 z-1 position-absolute">
    <div class="row w-100 h-100">
      <div class="col-6 d-flex justify-content-start align-items-end">
        <img
          src="/public/assets/images/avatar/avatar.png"
          width="700"
          height="400"
          class="mx-5"
          alt="students"
        />
      </div>
      <div class="col-6 d-flex align-items-center">
        <div class="container-fluid text-end me-3">
          <div class="greetings">
            <p class="">Welcome To Our Website</p>
            <h1 class="fw-bolder">Primary School</h1>
            <h3 class="fw-semibold">Our Lady of Walsingham</h3>
            <p class="mt-4">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
          </div>
          <div class="buttons"></div>
        </div>
      </div>
    </div>
  </div>
</main>
